  
    body{
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        max-width: 90vw;
        margin: auto;
    }
     
    ul{
        list-style-type: none;
        width: fit-content;
        margin: 0 auto;
        margin-top: 0px;
        display: table;
        padding: 0;
        margin-top: 1.1rem;
    }
    li{
        float: left;
        padding-left: 20px;
        text-decoration: none;  
        vertical-align: middle;   
         
     }

    li:hover{
        color: black;
        text-decoration: none;
        font-weight: bold;   
    }

    a:link{
        color: black;
        text-underline-offset: 0.5rem;
    }
    a:visited{
        color: black;
    }

    .navbar{
        display: flex;
        text-align: center;
        justify-content: space-between;       
        margin-top: 1.5rem;
    }
    
    .nav-link{
        text-decoration: none;
    }
    
    .name{
        font-size: calc((2 - 1) * 1.2vw + 1rem);
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight:500;
        font-style:normal;
        letter-spacing: 0em;
        text-transform: none;
        align-self:center ;
        padding-left: 2rem;
        vertical-align: middle;
        color: black;
        width: 33%;
        text-align: left;
    }
     
    .navbar-items{
        
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        vertical-align: middle;
        display: inline-block;
        text-align:center;
        width: 33%;
    }
     
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 2rem;
        width: 33%;
    }
    
    .icon{
        background: transparent;
        margin-top: 5px;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        
    }
     
    .body-box{
         display: flex;
         flex-direction: row;
         margin-top: 3rem;
         padding-left: 2rem;
         padding-right: 2rem;
    }

    .text-box{
         margin-right: 10rem;
    }

    .text{
        margin-bottom: 2rem;
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight:500;
        font-style:normal;
        font-size: calc((2 - 1) * 1.2vw + 1rem);
    }

    .img-box{
         width: 100%;
    }

    .img{
        top: 0%;
        width: 100%;
    }

     .img-profile{
        width: 30vw;
    } 

    @media screen and (max-device-width: 1249px) {
        .img-profile{
            width: 100%;
        } 

        .body-box{
            flex-direction: column;
        }
      }
    
    .foot{
        display: flex;
        flex-direction: column;
        
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
    
    .foot-text{
        text-align: center;
        justify-content:center;
        margin-bottom: 1.5rem;
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight:500;
        font-style:normal;
        font-size: calc((2 - 1) * 1.2vw + 1.1rem)
    }
    
    .foot-icon{
        background: transparent;
        
        vertical-align: middle;
        display: flex;
        justify-content: center;
    }



    .film-bodybox{
         display: flex;
         flex-direction: column;
         justify-content: center;
    }
    
    .page-name{
        margin-top: 6rem;
        
        display: flex;
        justify-content: center;
        font-size: calc((2.8 - 1) * 1.2vw + 1rem);
    }
    
    .article-right{
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;
        padding-top: 6rem;
        
    }
    
    .article-image-right{
        width: 65vw;
        left: 0;
        
    }

    .card-wrapper-right{
        display: flex;
        position: absolute;
        left: 53vw;
        top: 25vh;
    }

    .card-right{
        background: #eeedeb;
        width: 100%;
        z-index: 2;
        padding: 3rem;
        font-size: calc((2 - 1) * 1.2vw + 1rem);
        line-height: 2.4rem;
    }

    .card-content{
        padding-top: 1rem;
        font-size: calc((1 - 1) * 1.2vw + 1rem);
        line-height: 1.6rem;
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: .02em;
        padding-bottom: 2rem;
    }

    .read-button{
        font-size: calc((1 - 1) * 1.2vw + 1rem);
        background: transparent;
        color: #000;
        border: 2px solid #000;
        text-decoration: none;
        padding: 1.3rem 2.171rem;
        font-weight: bold;
        transition: 0.1s background-color linear, 0.1s color linear;
    }
    .read-button:hover{
        background: black;
        color: white;
        
    }

    .spacer{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .article-left{
        display: flex;
        margin-left: 2rem;
        position: relative;
        padding-top: 6rem;
        flex-direction: row;        
    }
   

    .article-image-left{
        width: 65vw;
        padding-right: 2rem;
        margin-left: auto;
        position: relative;
    }

    .card-wrapper-left{
        display: flex;
        position: absolute;
        left: 0vw;
        right: 53vw;
        top: 25vh;
    }

    .card-left{
        background: #eeedeb;
        width: 100%;
        z-index: 2;
        padding: 3rem;
        font-size: calc((2 - 1) * 1.2vw + 1rem);
        line-height: 2.4rem;
    }